<main class="c-env-list">
  {{#each state.environments}}
    <div
      id="env-{{@key}}"
      class="
        c-env
        c-env--{{#if this.latestTestRunSucceeded}}succeeded{{else}}failed{{/if}}
        c-env--{{this.testRunStatus}}
        {{#unless this.pipelineSucceeded}}c-env--pipeline-failed{{/unless}}
      "
    >
      <h2 class="o-heading-section">{{@key}}</h2>
      <details>
        <summary id="env-{{@key}}_latestTestRunTimestamp">
          {{this.latestTestRunTimestamp}}
        </summary>
        <dl>
          <dt>latestTestCount</dt>
          <dd id="env-{{@key}}_latestTestCount">
            {{this.latestTestCount}}
          </dd>

          <dt>latestTestErrors</dt>
          <dd id="env-{{@key}}_latestTestErrors">
            {{this.latestTestErrors}}
          </dd>

          <dt>latestTestRunSucceeded</dt>
          <dd id="env-{{@key}}_latestTestRunSucceeded">
            {{this.latestTestRunSucceeded}}
          </dd>

          <dt>testRunStatus</dt>
          <dd id="env-{{@key}}_testRunStatus">
            {{this.testRunStatus}}
          </dd>

          <dt>pipelineSucceeded</dt>
          <dd id="env-{{@key}}_pipelineSucceeded">
            {{this.pipelineSucceeded}}
          </dd>
        </dl>
      </details>
    </div>
  {{/each}}
</main>
