<main class="c-env-list">
  {{#each state.environments}}
    <div
      id="env-{{@key}}"
      class="
        c-env
        c-env--{{#if latestTestRunSucceeded}}succeeded{{else}}failed{{/if}}
        c-env--{{testRunStatus}}
        {{#unless pipelineSucceeded}}c-env--pipeline-failed{{/unless}}
      "
    >
      <h2 class="o-heading-section">{{@key}}</h2>
      <details>
        <summary id="env-{{@key}}_latestTestRunTimestamp">
          {{latestTestRunTimestamp}}
        </summary>
        <dl>
          <dt>latestTestCount</dt>
          <dd id="env-{{@key}}_latestTestCount">
            {{latestTestCount}}
          </dd>

          <dt>latestTestErrors</dt>
          <dd id="env-{{@key}}_latestTestErrors">
            <ul>
              {{#each latestTestErrors}}
                <li>
                  <dl>
                    <dt>test</dt>
                    <dd>{{test}}</dd>
                    <dt>error</dt>
                    <dd>{{error}}</dd>
                  </dl>
                </li>
              {{/each}}
            </ul>
          </dd>

          <dt>latestTestRunSucceeded</dt>
          <dd id="env-{{@key}}_latestTestRunSucceeded">
            {{latestTestRunSucceeded}}
          </dd>

          <dt>testRunStatus</dt>
          <dd id="env-{{@key}}_testRunStatus">
            {{testRunStatus}}
          </dd>

          <dt>pipelineSucceeded</dt>
          <dd id="env-{{@key}}_pipelineSucceeded">
            {{pipelineSucceeded}}
          </dd>
        </dl>
      </details>
    </div>
  {{/each}}
</main>
