<main class="c-env-list">
  {{#each state.environments}}
    <div
      class="
        c-env
        c-env--{{#if this.latestTestRunSucceeded}}succeeded{{else}}failed{{/if}}
        c-env--{{this.testRunStatus}}
        {{#unless this.pipelineSucceeded}}c-env--pipeline-failed{{/unless}}
      "
    >
      <h2 class="o-heading-section">{{@key}}</h2>
      <details>
        <summary>{{this.latestTestRunTimestamp}}</summary>
        <dl>
          <dt>latestTestCount</dt>
          <dd>{{this.latestTestCount}}</dd>

          <dt>latestTestErrors</dt>
          <dd>{{this.latestTestErrors}}</dd>

          <dt>latestTestRunSucceeded</dt>
          <dd>{{this.latestTestRunSucceeded}}</dd>

          <dt>testRunStatus</dt>
          <dd>{{this.testRunStatus}}</dd>

          <dt>pipelineSucceeded</dt>
          <dd>{{this.pipelineSucceeded}}</dd>
        </dl>
      </details>
    </div>
  {{/each}}
</main>
